* { box-sizing: border-box; }
header, nav, main, footer {
    display: block; 
}
body {
    background-color: #1B252E; color: #FFFFFF; 
    font-family: Verdana, Arial, sans-serif;
}

h1 { 
    padding-top:10px;
    /*padding-left:2em;*/
}
hr {    width: 100%;
        height: 3px;
        margin-left: auto;
        margin-right: auto;
        background-color: #76D7C4;
        border: 0 none;}

section {
    width: auto;
    padding: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #FADBD8;
}

div.wrap {
    width:960px;
    margin:0 auto;
}
img {
	width: 350px;
	height: auto;
}
main{
    padding-left:2em;
    padding-right:2em;
    display:block;
    margin-left: 170px;
    padding-top: 1em;
}
.floatleft{
    float: left;
    margin-right: 4em;
}
.clear{
    clear: both;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

#mobile{ display: none; }
#desktop{ display: inline; }
@media only screen and (max-width:1024px){
    body {
        margin: 0;
        padding: 0;
    }
  
    header{
        padding-top: 1px;
    }
    h1{
        padding-top: 1em;
    }
  
    main{
        padding-top: 2.5em;
        padding-bottom: 2.5em;
        padding-left: 1em;
        padding-right: 1em;
        margin: 0;
        font-size: 90%;
        clear: both;
    }
  
    h2, h3, p,{
        padding-left: 2em;
        padding-right: 2em;
    }
    .floatleft{
        margin-left: 2em;
        margin-bottom: 1em;
    }
    .clear{
        padding-left: 2em;
    }
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}
@media only all and (max-width: 768px){
    h1{
        font-size: 2em;
        padding-top: 0.25em;
        padding-left: 1.5em;
        width: 85%;
        text-align: center;
    }
    main{
        padding: 0;
    }
    .floatleft{
        float: none;
    }
    footer{
        padding: 0.5em;
        margin: 0;
    }
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
	
    #mobile { display: inline;}
    #desktop { display: none;}
}